node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Directorios de construcción
build/
dist/
out/

# Archivos de entorno
.env
.env.local

# Archivos de editor   
.vscode/
.idea/
*.swp

# Cache de dependencia
.pnpm-store/

# Logs y archivos temporales
logs/
*.log

# Archivos de cobertura
coverage/
.nyc_output/

# Descartes de Git
.DS_Store
Thumbs.db