<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>

  <body>
    <%- include('partials/navigation') %>
    <h1>bot</h1>
    <iframe
      allow="microphone;"
      width="350"
      height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/b8ae205f-f78b-4650-85c5-e80f92022367"
    >
    </iframe>
  </body>
</html>
