<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Sobre Nosotros</a></li>
    <li><a href="/contact">Contactanos</a></li>
    <li><a href="/bot">Charla con el bot</a></li>
  </ul>
</nav>